[Unit]
Description=System info display
After=multi-user.target

[Service]
User=root

WorkingDirectory= /home/pi/python/NAS_front_display
ExecStart=/home/pi/python/venvs/venv_front_io/bin/python /home/pi/python/NAS_front_display/main.py

Restart=always
RestartSec=2

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
